apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-scalper
  labels:
    app: test-scalper
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-scalper
  template:
    metadata:
      labels:
        app: test-scalper
    spec:
      initContainers:
      - name: copy-config
        image: busybox
        command:
        - sh
        - -c
        - |
          echo "Inhoud van /scalper:" && ls -la /scalper
          echo "Inhoud van /connection:" && ls -la /connection
          cp -rL /scalper/* /merged/ && cp -rL /connection/* /merged/
          echo "Inhoud van /merged:" && ls -la /merged
        volumeMounts:
        - name: scalper-config
          mountPath: /scalper
        - name: connection-config
          mountPath: /connection
        - name: merged-config
          mountPath: /merged

      containers:
      - name: bitvavo-scalper
        image: bitvavo-scalper:0.1.23
        resources:
          limits:
            memory: "256Mi"
            cpu: "500m"
          requests:
            memory: "128Mi"
            cpu: "250m"
        env: # Voeg hier eventueel andere environment variables toe
        volumeMounts:
        - name: merged-config
          mountPath: /app/config
        - name: data-volume
          mountPath: /app/data
        args:
        - "--config"
        - "/app/config/scalper.json"
        ports:
        - containerPort: 8080
          name: http
      volumes:
      - name: scalper-config
        configMap:
          name: scalper-config
      - name: connection-config
        configMap:
          name: connection-config
      - name: merged-config
        emptyDir: {}
      - name: data-volume
        hostPath:
          path: /data # Pas dit pad aan naar jouw omgeving